@()
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Editorial Production Metrics</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("build/main.css")">
    </head>

    <body>
        <div class="wrap">

                <!-- Top toolbar -->
            <div class="toolbar">

                <header class="toolbar__container">
                    <div class="toolbar__title">
                        <div class="toolbar__logo"></div>
                        <div class="toolbar__page-icon"></div>
                    </div>
                </header>
            </div>

            <div class="page">

                <main class="container" role="main">

                    <div class="wrap" id="react-mount"></div>

                </main>

            </div>
        </div>
        <script src="@routes.Assets.versioned("build/app.js")" type="application/javascript"></script>
    </body>
</html>
