@()
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Editorial Production Metrics</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("build/main.css")">
    </head>

    <body>
        <div class="wrap">
            <div class="page">

                <main class="container" role="main">

                    <div class="wrap" id="react-mount"></div>

                </main>

            </div>
        </div>
        <script src="@routes.Assets.versioned("build/app.js")" type="application/javascript"></script>
    </body>
</html>
