// -----------------------------------------------------------------------------
// This file contains styles for all buttons.
// -----------------------------------------------------------------------------
button {
  // Reset for browser buttons
  -webkit-appearance: none;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 10px;
  background: $cYellow;
  color: black;
  font-size: 12px;
  font-weight: bold;

  &:hover {
    background: $slightDangerColor;
  }
}
