$loadingLabelWidth: 100px;
$loadingLabelHeight: 300px;

.chart-wrap {
  position: relative;
}

.chart-wrap svg {
  overflow: visible;
}

.chart-wrap:before {
  content: '';
  display: none;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.chart-wrap:after {
  content: '';
  display: none;
  @include center-absolutely($loadingLabelWidth, $loadingLabelHeight); // Center the chart wrap passing in the width and height
}

.chart-wrap__updating:after,
.chart-wrap__updating:before,
.chart-wrap__error:before,
.chart-wrap__error:after {
  display: block;
}

.chart-wrap__error:after {
  content: 'An error has occurred';
}

.chart-wrap__updating:after {
  content: 'Loading\2026'; // Ellipsis
}
