/* -------------------------------------- */
/* Basic table styles                     */
/* -------------------------------------- */

.table {
  width: 100%;
  margin: 0 auto;

  &__table {
    color: $cWhite;
    width: 100%;
    text-align: left;

    &--centered {
      text-align: center;
    }
  }

  &__item {
    padding: 10px;
    font-size: 13px;
    line-height: 18px;

    & + & {
      border-left: 1px solid $color700Grey;
    }

    &--header {
      & + & {
        border-left: 1px solid $color750Grey;
      }
    }
  }

  &__row {
    background: $color650Grey;

    &--even {
      background-color: $color600Grey;
    }

    &--highlight {
      background: $lightBrandColor;
    }

    &:hover {
      background-color: $color500Grey;

      & + & {
        border-left: 1px solid $color650Grey;
      }
    }

    & + & {
      .table__item {
        border-top: 1px solid $color700Grey;
      }
    }
  }

  &__header-row {
    background: $color700Grey;
    border: {
      bottom: 1px solid $cYellow;
    };
    font-size: 13px;
    font-weight: bold;

    & + & {
      .table__item {
        border-top: 1px solid $color750Grey;
      }
    }
  }

  &__link {
    font-weight: bold;
    text-decoration: none;
    color: $cBlueLink;
    cursor: pointer;
    padding: 5px 0;
    display: block;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}