/* -------------------------------------- */
/* Basic table styles                     */
/* -------------------------------------- */

.table {
  width: 100%;
  margin: 0 auto;
  color: $cWhite;
  width: 100%;
  text-align: left;

  &--centered {
    text-align: center;
  }

  &__item {
    padding: 10px;
    font-size: 13px;
    line-height: 18px;

    & + & {
      border-left: 1px solid $color650Grey;
    }

    &--header {
      & + & {
        border-left: 1px solid $color700Grey;
      }
    }
  }

  &__row {
    background: $color600Grey;

    &--even {
      background-color: $color550Grey;
    }

    &--highlight {
      background: $lightBrandColor;
    }

    &:hover:not(.table__row--header) {
      background-color: $color500Grey;

      & + & {
        border-left: 1px solid $color600Grey;
      }
    }

    & + & {
      .table__item {
        border-top: 1px solid $color650Grey;
      }
    }

    &--header {
      background: $color650Grey;
      border: {
        bottom: 1px solid $cYellow;
      };
      font-size: 13px;
      font-weight: bold;

      & + & {
        .table__item {
          border-top: 1px solid $color700Grey;
        }
      }
    }
  }
}